body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2.headercenter {
  text-align: center;
}

h3 {
  text-align: center;
  text-decoration: underline;
  color: gold;
}

.poster {
  border-style: solid;
  color: black;
}

.card-body{
  background-color: rgb(101, 106, 106);
}

.card-text{
  color: gold;
}

h2 {
  color: gold;
}

.btn {
  color: gold;
}
